body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
header{
    background-color: #f6f2f1;
    padding-top: 1rem;
}
nav{
    background-color: #313030;
    text-align: center;
    width: 80vw;
    padding: 1rem;
    margin: auto;
}
nav>a{
    color: white;
    padding: 1rem 1rem;
    margin: 0px;
    font-size: .75rem;
    text-decoration: none;    
}
nav>a:hover{
    color: white;
    background-color: #ff3f40;
    text-decoration: none; 
}
@media(max-width: 640px){
    nav{
        font-size: 12px;
        padding: 1rem;
    }
    nav>a{
        padding: 1rem .25rem  1rem .25rem; 
    }
}
.container{
    width: 80%;
    box-sizing: border-box;
    margin: auto;
}
.banner{
    background-color: #f6f2f1;
    padding-top: 5rem;
    padding-bottom: 5rem;
    /* height: 70vh; */
}

.column{
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 1rem;
    /* background-color: aqua; */
    /* border: 1px solid #ff3f40; */
}
.row::after{
    content: "";
    display: table;
    clear: both;
}


iframe{
    border: none;
    float: right;
    width: 420px;
    height: 315px;
    /* <сдвиг по x> <сдвиг по y> <размытие> <растяжение> <цвет> */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width:600px) {
    .banner{
        padding-top: 0;
    }
    .column {
      width: 100%;
      overflow: hidden;
    }
    .column.side, .column.middle {
        width: 100%;
    }
    iframe{
        /* width: 370px;
        height: 215px; */
        width: 100%;
        height: auto;
    }
}
h1{
    text-transform: uppercase;
    /* letter-spacing: 5px; */
    font-size: 2.5rem;
}
h2{
    text-transform: uppercase;
    /* letter-spacing: 2px; */
    font-size: 2rem;
}
h3{
    text-transform: uppercase;
    /* letter-spacing: 2px; */
}
@media screen and (max-width:600px) {
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.3rem;
    }

}
p{
    line-height: 2rem;
}
.service{
    background-color: white;
    padding-top: 5rem;
}
.title-p{
    width: 80%;
}
.normal,.small{
    font-family: serif;
}
.normal{
    font-variant: normal;
}
.small{
    font-variant: small-caps;
}
ul{
    list-style-type: circle;
}
.button{
    background-color: #ff3f40;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 1rem 2rem;
    font-size: 1rem;
    margin-top: 1rem;
    display: inline-block;
}
.button:hover{
    background-color: #c12121;
}
.outlineButton{
    background: none;;
    border-radius: 4px;
    border: 2px solid #ff3f40;
    color: #ff3f40;
    padding: 1rem 2rem;
    font-size: 1rem;
    margin-top: 1rem;
    display: inline-block;
}
.outlineButton:hover{
    color: white;
    background-color: #ff3f40;
}
.material-icons{
    color: #ff3f40;
    font-size: 36px !important;
}
@media(max-width: 600px){
    .advantagesBlock{
        /* text-align: center; */
    }
    .title-p{
        width: 100%;
    }
}
.service hr{
    width: 80%;
    border: 1px solid #dedede;
}
.futureProduct{
    padding-top: 2rem;
    background-color: white;
}
.futureProduct h3{
    font-size: 1.5rem;
    text-align: center;
}
.title-p-center{
    width: 40%;
    margin: auto;
    text-align: center;
}
.futureProduct hr{
    border: 2px solid tomato;
    width: 10rem;
}
.galleryNav{
text-align: center;
padding: 1rem;
margin-left: 2rem;
margin-right: 2rem;
}
.galleryNav ul{
    list-style-position: inside;
    padding: 0;
}
.galleryNav li{
    display: inline;
}
.galleryNav input{
    display: none;
}
.galleryButton{
    background: none;
    border: none;
    font-size: 1rem;
    text-transform: uppercase;
    color: #6f6f6f;
    font-weight: 700;
    padding: 1rem;
}
.galleryNav input:checked~.galleryButton{
    display: inline; 
    color: #185ed8;  
}
@media(max-width:600px){
    .title-p-center{
        width: 80%;
    }
    .galleryNav li{
        display: block;
        padding: .25rem;
    }
}
.galleryImages{
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    margin: auto;
    
}
.gallery-row{
    /* display: inline-block; */
}
.img-container{
    width: 250px;
    height: 250px;
    background-color: aqua;
    overflow: hidden;
    display: inline-block;
    /* float: left; */
    margin: 1rem;
}
.img-container-sm{
    width: 200px;
    height: 200px;
    background-color: aqua;
    overflow: hidden;
    display: inline-block;
    margin-top: 1rem;
}
.galleryImages img{
    /* background-color: #6f6f6f; */
    width: 100%;
    height: auto;
}
.meetOurTeam{
    padding-top: 3rem;
    padding-bottom: 5rem;
}
.meetOurTeam h3{
    font-size: 1.5rem;
}
.meetOurTeam p{
    width: 40%;
    margin-bottom: .2rem;
}
.meetOurTeam a{
    color: #313030;
    text-decoration: none;
    font-style: italic;
    padding: .5rem;
}
/* .meetOurTeam hr{
    border: 2px solid tomato;
    width: 10rem;
    float: left;
} */
.hr-right{
    border: 2px solid tomato;
    width: 10rem;
    float: left;
}
.ourTeam{
    width: 100%;
    content: "";
    display: table;
    clear: both;
}
.column2{
    float: left;
    padding: 1rem;
    box-sizing: border-box;
}
.column2.chosenPerson{
    width: 25%;
}
.chosenPerson img{
    background-color: #6f6f6f;
    width: 100%;
    /* height: 350px; */
}
.column2.otherPersons{
    width: 75%;
}
.personDescription{
    width: 80% !important;
}
.personImg img{
    width: 200px;
    height: 200px;
}
@media(max-width: 600px){
    .meetOurTeam p{
        padding-left: 1rem;
        width: 100%;
        box-sizing: border-box;
    }
    .column2.chosenPerson{
        width: 100%;
    }
    .column2.otherPersons{
        width: 100%;
    }
}
.subscribe{
    background-image: url('jenny-caywood-LeYviMKafFo-unsplash.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    text-shadow: 0 0 20px rgb(0, 0, 0);
}
.form-input{
    padding: 1rem;
    width: 250px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}
.overlay{
    background-color: rgba(38, 38, 38, 0.461);
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    padding: 5rem;
    /* margin: auto; */
}
@media(max-width: 600px){
    .overlay{
        padding: 1rem;
    }
    .subscribe input{
        width: 100%;
        box-sizing: border-box;
    }
}
.form-input-mail{
    padding: 1rem;
    border: 1px solid #ededed;
    border-radius: 4px;
    background-color: #ededed;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
}
.left-pad{
    padding-left: .5rem;
}
.right-pad{
    padding-right: .5rem;
}
.column-message{
    float: left;
    width: 50%;
    box-sizing: border-box;
}
textarea{
    display: block;
    padding: 1rem;
    margin-top: .5rem;
    border: 1px solid #ededed;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    background-color: #ededed;
}
.get-in-touch{
    padding-top: 3rem;
    position: relative;
}
/* .get-in-touch form{
    width: 100%;
    box-sizing: border-box;
} */
.grey-bg{
    width: 30vw;
    padding: 2rem;
    background-color: #313030;
    color: white;
}
.grey-bg-new{
    margin-top: 1rem;
    width: 30vw;
    height: 100%;
    overflow: hidden;
    background-color: #313030;
    color: white;
}
.column2.message{
width: 60%;
}
.column2.grey-bg{
    width: 40%;
}
@media(max-width: 600px){
    .column-message{
        width: 100%;
        padding: 0;
        margin-top: .5rem;
    }
    .column2.message{
        width: 100%;
    }
    .column2.grey-bg{
        width: 100%;
    }
    .grey-bg-new{
        width: 100%;
    }
}
footer{
    background-color: #313030;
    margin-top: 5rem;
    padding: 2rem;
    color: #6f6f6f;
}
.foot{
    display: inline-block;
    padding-top: .75rem;
    line-height: 100%;
}
footer ul{
    float: right;
    margin: 0em;
}
footer li{
    display: inline;
}
footer a{
    color: #6f6f6f;
    text-decoration: none;
}
.long{
    width: 100%;
}
footer .material-icons{
color: #6f6f6f;
margin: 0em;
}
footer .material-icons:hover{
    color: #b8b8b8;
}